<form method="post">
    <label for="username">Username / email address:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password"id="lastName"name="Password""><br><br>
    <input type="submit" value="Submit">
    <br>
    <br>
    <br>
    <input type="submit" value="Register">
</form>"